
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Ego Toys Giriş Formu</title>

    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Sleek Login Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //Meta-Tags -->
    <!-- Style -->
    <link rel="stylesheet" href="~/Content/loginTema/web/css/style.css" type="text/css" media="all">

    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <!-- //Fonts -->

</head>
<body>
    <h1>Şifremi Unuttum...</h1>

   

    @using (Html.BeginForm("SifreUnuttum", "Login", FormMethod.Post))
    {
        if(ViewData["Hata"] != null)
        {
            <i>@ViewData["Hata"]</i>
        }
        if(ViewBag.Uyari != null)
        {
            <i>@ViewBag.Uyari </i>  
        }
            <div class="w3layoutscontaineragileits">

               
                    <div class="aitssendbuttonw3ls">
                        <input type="text" Name="mail" placeholder="Email Adresinizi Giriniz..." required="">
                        <input type="submit" value="GİRİS" style="margin-left:15px; bottom:-50px">
                        <div class="clear"></div>
                    </div>
                
            </div>


    }
</body>
</html>
