
@{
    ViewBag.Title = "Ayarlar";
    Layout = "~/Views/Shared/_LayoutYonetici.cshtml";
}

<div class="card">

   
    <!-- /.card-header -->
    <div class="card-body p-0" style="font-size:20px">

        <label><b>Site Adı:</b>&nbsp; EgoToys </label>
        <label style="display:block"><b>Site Domain Adı:</b>&nbsp; www.egotoys.com </label>
        <label style="display:block"><b>Site Yöneticisi:</b>&nbsp; Gürkan Uğurlu </label>
        <label style="display:block"><b>Site Ana Admini:</b>&nbsp; Gürkan Uğurlu </label>
        <label style="display:block"><b>Siteyi Geliştiren Kişiler:</b>&nbsp; Gürkan Uğurlu</label>
        <label style="display:block"><b>Site Sürümü:</b>&nbsp; 0.1</label>

    </div>
    <script src="~/Content/Tema1/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/Tema1/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Tema1/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/Tema1/plugins/datatables/dataTables.bootstrap4.js"></script>
    <!-- SlimScroll -->
    <script src="~/Content/Tema1/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <!-- /.card-body -->
</div>