
@using ETicaret.Models
@using ETicaret.Settings
@using ETicaret.Models.ModelsView



@model  OdemeDetay


@{
ViewBag.Title = "OdemeDetay";
Layout = "~/Views/Shared/_LayoutYonetici.cshtml";
}



<div class="card">

    <div class="card-header">
        <h3 class="card-title"><b>Odeme Detay</b> </h3>


    </div>
    <!-- /.card-header -->
    <div class="card-body p-0" style="display: block;">

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th><img src="~/Content/Resimler/Kullanici/countdown.png" />Siparis Id</th>
                    <th><img src="~/Content/Resimler/Kullanici/users.png" />Kart Ad</th>
                    <th><img src="~/Content/Resimler/Kullanici/crd.png" />Kart No</th>


                </tr>
            </thead>
            <tbody>

            
                <tr>
                    <td>@Model.siparisId</td>
                    <td>@Model.kartUzerindekiAd</td>
                    <td>@Model.kartUzerindekiNo</td>
                    




                </tr>
              


            </tbody>
        </table>

    </div>
    <script src="~/Content/Tema1/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/Tema1/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Tema1/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/Tema1/plugins/datatables/dataTables.bootstrap4.js"></script>
    <!-- SlimScroll -->
    <script src="~/Content/Tema1/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <!-- /.card-body -->
</div>