@using ETicaret.Models
@using ETicaret.Settings
@using ETicaret.Models.ModelsView
@model List<SiparisDetay>
@{
    ViewBag.Title = "SiparisDetay";
    Layout = "~/Views/Shared/_LayoutYonetici.cshtml";
}

<div class="card">

    <div class="card-header">
        <h3 class="card-title"><b>Sipariş Detay</b></h3>


    </div>
    <!-- /.card-header -->
    <div class="card-body p-0" style="display: block;">

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th><img src="~/Content/Resimler/Kullanici/countdown.png" />Sipariş Id</th>
                    <th><img src="~/Content/Resimler/Kullanici/mail.png" />Ürün Adı</th>
                    <th><img src="~/Content/Resimler/Kullanici/count.png" />Ürün Adet</th>
                    <th><img src="~/Content/Resimler/Kullanici/budget.png" />Ürün Fiyat</th>


                </tr>
            </thead>
            <tbody>
                
                @foreach (var detay in Model)
                {
                    <tr>
                        <td>@detay.siparisId</td>
                        <td>@detay.Urun.urunAd</td>
                        <td>@detay.adet</td>
                        <td>@detay.fiyat.ToString().Substring(0,5) TL</td>




                    </tr>
                }


            </tbody>
        </table>

    </div>
    <script src="~/Content/Tema1/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/Tema1/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Tema1/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/Tema1/plugins/datatables/dataTables.bootstrap4.js"></script>
    <!-- SlimScroll -->
    <script src="~/Content/Tema1/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <!-- /.card-body -->
</div>


