<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Türkiyenin En Tatlı Oyuncak Sitesi EgoToys</title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Toys Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel="stylesheet" href="/Content/Tema1/plugins/font-awesome/css/font-awesome.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Content/Tema1/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">



    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="~/Content/Tema/web/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="~/Content/Tema/web/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- //font-awesome icons -->
    <!-- For Clients slider -->
    <link rel="stylesheet" href="~/Content/Tema/web/css/flexslider.css" type="text/css" media="all" />
    <!--flexs slider-->
    <link href="~/Content/Tema/web/css/JiSlider.css" rel="stylesheet">
    <!--Shoping cart-->
    <link rel="stylesheet" href="~/Content/Tema/web/css/shop.css" type="text/css" />
    <!--//Shoping cart-->
    <!--stylesheets-->
    <link href="~/Content/Tema/web/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <link href="//fonts.googleapis.com/css?family=Sunflower:500,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
   
</head>
<body>





    @Html.Partial("_SliderUstu")
    <!--//headder-->
    <!-- banner -->
    <!--subscribe-address-->
    @RenderBody()


    

    <!--//subscribe-address-->
    <section class="sub-below-address py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">İletişime Geçin</h3>
            <div class="icons mt-4 text-center">
                <ul>
                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fas fa-envelope"></span></a></li>
                    <li><a href="#"><span class="fas fa-rss"></span></a></li>
                    <li><a href="#"><span class="fab fa-vk"></span></a></li>
                </ul>
                <p class="my-3">
                    Globalleşen ve yalnızlaşan dünyada içinizi ve dostluğunuzu paylaşabileceğiniz, çocuklarınızla iyi vakit geçirebileceğiniz en özgün oyuncaklar...
                </p>
            </div>
            <div class="email-sub-agile">
                
                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                {
                    <div class="form-group sub-info-mail">
                        <input type="email" name="email" class="form-control email-sub-agile" placeholder="Emaliniz"  required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn subscrib-btnn">Abone Olun</button>
                    </div>
                }
                </div>
        </div>
    </section>
    <!--//subscribe-->
    <footer class="py-lg-4 py-md-3 py-sm-3 py-3 text-center">
        <div class="copy-agile-right">
            <p>
               2018 EgoToys. Tüm Hakları Beceriksiz Koder Gürkan Uğurlu'ya Aittir. <a href="http://www.W3Layouts.com" target="_blank">EgoToys</a>
            </p>
        </div>
    </footer>

    
    <!-- //footer -->
    <!-- Modal 1-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="register-form">
                        <form action="#" method="post">
                            <div class="fields-grid">
                                <div class="styled-input">
                                    <input type="text" placeholder="Your Name" name="Your Name" required="">
                                </div>
                                <div class="styled-input">
                                    <input type="email" placeholder="Your Email" name="Your Email" required="">
                                </div>
                                <div class="styled-input">
                                    <input type="password" placeholder="password" name="password" required="">
                                </div>
                                <button type="submit" class="btn subscrib-btnn">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal 1-->

    <!--js working-->
    <!--//js working-->
    <!-- cart-js -->
    <script src="~/Content/Tema/web/js/minicart.js"></script>
    <script>
        toys.render();

        toys.cart.on('toys_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) { }
            }
        });
    </script>

    <!-- //cart-js -->
    <!--responsiveslides banner-->
    <script src="~/Content/Tema/web/js/responsiveslides.min.js"></script>
    <script>

        // You can also use "$(window).load(function() {"
        $(function () {
           ;
            // Slideshow 4
            $("#slider4").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 900,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!--// responsiveslides banner-->
    <!--slider flexisel -->
    <script src="~/Content/Tema/web/js/jquery.flexisel.js"></script>
    <script>
        $(window).load(function () {
          
            $("#flexiselDemo1").flexisel({
                visibleItems: 3,
                animationSpeed: 3000,
                autoPlay: true,
                autoPlaySpeed: 2000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 2
                    }
                }
            });

        });
    </script>
    <!-- //slider flexisel -->
    <!-- start-smoth-scrolling -->
    <script src="~/Content/Tema/web/js/move-top.js"></script>
    <script src="~/Content/Tema/web/js/easing.js"></script>
    <script>
        
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script>
        $(document).ready(function () {
           
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!--bootstrap working-->
      <!-- <script src="~/Content/Tema/web/js/bootstrap.min.js"></script>g --> 
    <!-- //bootstrap working-->
    <!-- Bootstrap 4 -->





    
    <script src="~/Content/Tema1/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/Tema1/dist/js/adminlte.min.js"></script>
</body>
</html>
