
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<body>
    @Html.Partial("resimDiv")
    <!--//banner -->
    <!-- short -->
    <!-- //short-->
    <!--service -->
    <section class="service py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Servisler</h3>
            <div class="row text-center">
                <div class="col-lg-4 col-md-6 abut-gride">
                    <span class="fas fa-truck"></span>
                    <h5>Hızlı Kargo</h5>
                    <p class="mt-3">
                        En Kaliteli ve En hızli kargo firmalarıyla çalışıp size ürününüzü bir an önce ulaştırırız...
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 abut-gride">
                    <span class="fas fa-phone-volume"></span>
                    <h5>Destek</h5>
                    <p class="mt-3">
                        İletişime posta veya telefon yoluyla geçmek bir tık uzağınızda...
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 abut-gride">
                    <span class="fas fa-undo"></span>
                    <h5> Geri Dönüş</h5>
                    <p class="mt-3">

                        Her an Telefon ve Posta yoluyla ulaşabilirsiniz.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-4 mt-3 abut-gride">
                    <span class="fas fa-money-bill-alt"></span>
                    <h5>Online Ödeme</h5>
                    <p class="mt-3">
                        İstediğiniz Kredi Kartı ve türlü yöntemlerle hiçbir uğraş vermeden ödeme yapabilirsiniz.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-4 mt-3 abut-gride">
                    <span class="fas fa-exchange-alt"></span>
                    <h5>Hızlı İade</h5>
                    <p class="mt-3">
                        Her türlü kargo veyahut hatalı ürün iadelerinde sorgu sual yok.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-4 mt-3 abut-gride">
                    <span class="fas fa-thumbs-up"></span>
                    <h5>Kalite</h5>
                    <p class="mt-3">
                        En kaliteli markalarla çalışmamızın ürünü olarak en kaliteli ürünler hizmetinizde.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <script src='~/Content/Tema/web/js/jquery-2.2.3.min.js'></script>
</body>